html, body {
    margin: 10px;
    padding: 10px;
}

body {
    background-color: #120f27;
    color: #fab31f;
    height: 100%
}

.wrapper {
    background-color: #3a2e54;
    height: 80%;
    display: flex;
}

.column1 {
    flex: 1 1 50%;
    align-items: center;
}

.column2 {
    flex: 1 1 50%;
    align-items: center;
}



